<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6aaAO7Pk1TGDifS1peoAGbrp9K-26BH4</string>
	<key>GCM_SENDER_ID</key>
	<string>558387718828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dalelApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dalelapp-89b01</string>
	<key>STORAGE_BUCKET</key>
	<string>dalelapp-89b01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558387718828:ios:f8f48841308df3ef14cd09</string>
</dict>
</plist>